product/operator/app/Vskit/Vskit.apk
product/operator/app/TikTok/TikTok.apk
product/operator/app/MobileLegendsBangBang/MobileLegendsBangBang.apk
product/operator/app/TikTokzhiliao/TikTokzhiliao.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
vendor/etc/dts/dts-eagle.lic
super.img
system_ext.img
system/system/apex/com.android.vndk.current.apex
